@{
    ViewBag.Title = "Home Page";
}
<style>
    body{
        background: url('content/images/Home-Page.jpg') center center no-repeat !important;
        background-size: cover !important;
    } 
</style>
@* <div class="row">
    <!-- left column -->
    <div class="col-md-12" style="background: url('content/images/Home-Page (1).jpg') center center no-repeat !important;
        background-size: cover !important;">
       
    </div>

</div> *@